<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="AcessoDados.Properties.Settings.strConexao" connectionString="Data Source=DESKTOP-IK6PUB2;Initial Catalog=midas;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>